

<nav class="navbar navbar-dark text-light">

  <div class="container-fluid hstack gap-3">

    <div class="navbar-brand">
      🚀 Outter Space
    </div>


    <div class="p-2 ms-auto">
      <ul class="navbar-nav mr-auto list-group-horizontal gap-4">

        <li routerLink="/spaceX/launches"
          routerLinkActive="active"
          class="nav-item active btn btn-outline-dark font-weight-bold">
          <a class="nav-link p-2">Launches</a>
        </li>

        <li routerLink="/spaceX/rockets"
          routerLinkActive="active"
          class="nav-item active btn btn-outline-dark ">
          <a class="nav-link p-2">Rockets</a>
        </li>

      </ul>

    </div>

  </div>

</nav>
