
<div class="card border-0">

  <header-shared class="text-center"></header-shared>

  <div class="bg-black">
    <hr class="mx-auto text-light">
  </div>

  <router-outlet></router-outlet>

  <div class="bg-black">
    <hr class="mx-auto text-secondary">
  </div>

   <footer class="p-4 mt-auto d-flex justify-content-center">
    <div class="row text-light">
      <div class="col-md-12 aling-items-center">

          <h6>Atribuciones y créditos</h6>
          <ul class="list-unstyled">
            <li><small>© 2024 SpaceX App</small></li>
            <li><small>Datos proporcionados por SpaceX</small></li>
          </ul>

      </div>
    </div>
  </footer>
</div>
